<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to Movie Review Application</h1>
<p>Hello <%= @user.email %>,</p>
<p>Thank you for signing up for the Movie Review Application! We're excited to have you on board.</p>
<p>To get started, click the link below:</p>
<p><a href="<%= @url %>"><%= @url %></a></p>

<p>Best regards,<br>Your My App Team</p>
</body>
</html>